@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap");

.primary-color {
  color: var(--primarycolor) !important;
}

.bg-second {
  background-color: var(--secondcolor) !important;
}

.bg-third {
  background-color: var(--thirdcolor) !important;
}

.header {
  height: 650px;
  width: 100%;
  background-image: url(/assets/img/background.svg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header img {
  position: absolute;
  right: 200px;
  top: 0;
}

.header-title {
  position: absolute;
  margin-top: 275px;
  right: 111px;
  align-content: center;
  animation: 3s infinite alternate slidein;
  
}

.header-title-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title-top h1 {
  font-size: 32px;
  color: white;
  text-transform: uppercase;
  line-height: 50px;
  padding-left: 7px;
}

.header-title-bottom h1 {
  font-size: 96px;
  color: white;
  text-transform: uppercase;
  line-height: 60px;
}

.divider {
  height: 50px;
  background-color: var(--secondcolor);
}

.divider img {
  width: 100%;
  height: auto;
}

.biography {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

section.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: var(--secondcolor);
  flex-wrap: wrap;
}

section.person .person-foto {
  width: 500px;
}

.person-foto img {
  width: 100%;
  height: 100%;
}

.person-detail {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.person-detail h1 {
  font-family: var(--montserrat);
  font-size: 48px;
  font-weight: 700;
  color: var(--primarycolor);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.person-detail p {
  font-family: var(--poppins);
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  text-align: justify;
}

section.person-desc {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: var(--secondcolor);
  flex-wrap: wrap;
}

section.person-desc .person-education h2 {
  font-family: var(--montserrat);
  color: white;
}

section.person-desc .person-education h3 {
  font-family: var(--montserrat);
  color: white;
}

section.person-desc .person-education p {
  font-family: var(--poppins);
  color: white;
  margin-top: 10px;
}

.text-indent {
  text-indent: 45px;
}

.contact {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.contact .contact-logo {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  color: var(--primarycolor);
}

.section-skill {
  margin: 30px 0;
}

.section-skill h1 {
  font-family: var(--montserrat);
  font-size: 30px;
  font-weight: 700;
}

section.person-desc .person-skill {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.skill-col {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.skill-col p {
  font-size: 20px;
  font-family: var(--poppins);
  margin: 10px 0;
}

.skill-col i {
  font-size: 40px;
}

.section-product {
  width: 100%;
  background-image: url(/assets/img/background.svg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  display: flex;
  width: 100%;
  height: 200px;
  background-color: var(--secondcolor);
  align-items: center;
}

.product-title img {
  height: 100px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product-content {
  margin: 20px 0;
  padding: 50px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  justify-content: center;
  align-content: center;
  color: #fff;
}

.product-content div {
  aspect-ratio: 1;
}

.product-name h1 {
  font-family: var(--montserrat);
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-name p {
  font-family: var(--poppins);
  text-align: justify;
  font-style: italic;
}

.product-image {
  text-align: center;
  border-radius: 20px;
  background-color: var(--primarycolor);
}

.product-image img {
  object-fit: cover;
  width: 100%;
}

.footer-message h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-family: var(--montserrat);
  margin-bottom: 20px;
}

.social {
  display: flex;
}

.social-detail {
  display: flex;
  align-items: center;
}

.social-detail img {
  height: 30px;
  margin: 0 10px;
}

.social-detail p {
  font-family: var(--poppins);
  font-size: 20px;
}

.social-detail h1 {
  font-family: var(--montserrat);
  font-size: 20px;
  color: var(--primarycolor);
  margin: 0 20px;
}

@media screen and (max-width: 991px) {
  section.person {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
  }

  .person-detail {
    width: 100%;
  }

  section.person-desc {
    padding: 20px 50px;
  }

  section.person-desc .person-detail {
    width: 50%;
  }

  .skill-col p {
    font-size: 15px;
    font-family: var(--poppins);
    margin: 10px 0;
  }

  .skill-col i {
    font-size: 30px;
  }

  .product-content {
    padding: 20px 50px;
  }
}
